// Header Styles

// The powerlines
#header-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: -310px;
    height: 450px;
    overflow: hidden;
    z-index: -999;
    visibility: hidden;

    @media (min-width: $screen-sm-min) {
		// hide on small screens
        visibility: visible;
	}

    .oval-base {
	    border-width: 1px;
	    border-style: solid;
	    position: absolute;
	    left: 50%;
	}

	#oval-1 {
	    width: 1800px;
	    height: 400px;
	    border-color: #fafafa;
	    border-radius: 1800px / 400px;
	    margin-left: -900px;
	}

	#oval-2 {
	    width: 1900px;
	    height: 400px;
	    border-color: #eeeeee;
	    border-radius: 1900px / 400px;
	    margin-left: -950px;
	    margin-top: 10px;
	}

	#oval-3 {
	    width: 2000px;
	    height: 400px;
	    border-color: #e3e3e3;
	    border-radius: 2000px / 400px;
	    margin-left: -1000px;
	    margin-top: 20px;
	}
}

// The title and navigation
.navbar-birds {
    @extend .navbar-default;

    .navbar-brand {
        font-family: $signature-font-family;
    }

    @media (max-width: $screen-sm-min) {
        background-color: $color-white;
    }

    @media (min-width: $screen-sm-min) {
        background-color: transparent;
        border-color: transparent;

        .navbar-header {
            width: 25%;
        }

        .birds-3 {
            width: 25%;
        }

        .birds-1 {
            width: 25%;

            li {
                float: right;
            }
        }

        li {
            a {
                font-size: 14px;
                padding-left: 0px;
                padding-right: 0px;

                span {
                    display: block;
                    height: 66px;
                    width: 40px;
                    background-image: url('../images/bird-menu-sprite.png');
                    background-repeat: no-repeat;
                    margin-top: 30px;
                    @include animation(fade-in-animation 1s 1);
                }
            }

            a.item1 {
                span {
                    background-position: 0px 0px;
                }
            }

            a:hover.item1 {
                span {
                    background-position: 0px -67px;
                }
            }

            a.item2 {
                span {
                    background-position: 0px -131px;
                }
            }

            a:hover.item2 {
                span {
                    background-position: 0px -198px;
                }
            }

            a.item3 {
                span {
                    background-position: 0px -264px;
                }
            }

            a:hover.item3 {
                span {
                    background-position: 0px -330px;
                }
            }
        }

        a#logo {
            span {
                width: 70px;
                height: 50px;
                background: url('../images/bird-sprite.png');
                background-repeat: no-repeat;
                margin-top: 15px;
            }
        }

        a:hover#logo {
            span {
                background-position: 0px -50px;
            }
        }
    }
}