// Bootstrap variables

$font-family-base: Georgia, "Times New Roman", Times, serif;
$font-size-base: 18px;

// My variables

$signature-font-family: 'IM Fell DW Pica SC', serif;
$color-white: white;
$color-dark: #444;
$color-light: #dbdbdb;