@import "variables";
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import "header";

// Main styles

.section-custom {
	padding-top: 50px;
	padding-bottom: 50px;
}

.section-custom-light {
	@extend .section-custom;
}

.section-custom-dark {
	@extend .section-custom;
	background-color: $color-dark;
	color: $color-white;
}

#img-me {
	margin-top: 30px;
}

.section-hook {

	h1 {
		border-bottom: 1px solid $gray-light;
		padding-bottom: 10px;

		small {
			font-family: $signature-font-family;
			display: block;
		}
	}

	h4 {
		color: $gray;
	}

	a {
		margin-top: 10px;
	}
}

.gallery {
	margin-top: 10px; // Propper padding below the .section-hook

	.gallery-box {

		img {
			@extend .img-responsive;
			margin-bottom: 17px;
		}

		.img-overlay {
			position: relative;
		}

		.caption {
			visibility: hidden;
			position: absolute;
		    bottom: 0px;
		    width: 100%;
		    background-color: black;//rgba(0,0,0,0.6);
		    padding-top: 10px;
		    padding-left: 10px;
		    font-family: $font-family-sans-serif;
		    color: $gray-lighter;
		}
	}

	.gallery-box:hover .caption {
		visibility: visible;
	}
}

.gallery-project {

	.row {
		margin-bottom: 25px;
	}

	img {
		@extend .img-responsive;
	}

	h1, h2 {
		margin-top: 0px;
	}

	.bottom-finish {
		text-align: center;
	}
}

#skills {

	.section-hook {
		text-align: center;
	}

	.section-skills-design {
		text-align: right;

		@media (max-width: $screen-sm-max) {
			// Small screens shouldn't be right aligned
			text-align: left;
		}
	}

	#chain-div {
		text-align: center;
		margin-top: 20px;

		#chain {
			display: inline-block;

			.chain-orange {
				fill: #ffc087;
			}

			.chain-blue {
				fill: #87cada;
			}
		}
	}

	.quote {
		margin-top: 25px;
		margin-bottom: 25px;
		text-align: center;

		blockquote {
			border-left: none;
		}
	}
}

#contact {
	text-align: center;

	#contact-buttons {
		margin-top: 10px;

		a {
			margin-right: 5px;
		}
	}
}

#footer-bg-left {
	margin-bottom: -93px;
}

#footer-bg-right {
	float: right;
}

#footer {
	margin-bottom: 0px;
	padding-top: 50px;
	text-align: center;

	// style the github button
	a {
		color: black;
	}

	.btn-default {
		background-color: $gray-light;
		border-color: $gray;
	}

	.btn-default:hover {
		background-color: $gray;
	}
}

.btn {
	//font-family: $font-family-sans-serif;

	.btn-icon {
		display: inline-block;
	}

	.btn-icon-16 {
		margin-bottom: 3px;
	}

	.glyphicon-envelope {
		font-size: 15px;
	}
}

blockquote {
	font-family: $signature-font-family;
	color: $gray-light;
}

.photo-credit {
	@extend .text-right;
	font-style: italic;
	font-size: 14px; // Just override here
}