@import "variables";
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import "header";

// Main styles

html, body, .content {
	height: 100%;
}

h1, h2, h3 {
	font-family: $signature-font-family
}

h1 small, h3 {
	font-size: $font-size-heading;
}

h3 {
	color: $font-color-normal;
}

h4 {
	// The serif font is a bit bigger looking. Shrink it slightly
	font-size: $font-size-heading - 3px;
	color: $font-color-title;
}

article img {
	@extend .img-responsive;
}

.symbol {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    display: block;
    font-size: 75px;
    margin-bottom: -25px;
}

.section-custom {
	padding-top: 50px;
	padding-bottom: 50px;

	@media (max-width: $screen-xs-max) {
		// less padding on small screens
		padding-top: 25px;
		padding-bottom: 25px;
	}
}

.section-custom-light {
	@extend .section-custom;
	
	h1, h4 {
		color: $font-color-title;
	}
}

.section-custom-dark {
	@extend .section-custom;
	background-color: $color-dark;
	color: $color-white;

	a:hover {
		color: lighten($link-color, 15%);
	}

	.btn-default {
		background-color: $gray-light;
		border-color: $gray;

		&:hover {
			background-color: #fff;
		}
	}
}

#hello {
	padding-top: 50px;
	padding-bottom: 100px;

	@media (max-width: $screen-xs-max) {
		// Phones see the text and button centered
		text-align: center;

		// less padding on small screens
		padding-top: 0px;
		padding-bottom: 50px;
	}

	.btn {
		margin-top: 5px;
	}
}

.section-custom-last {
	margin-bottom: 0px;
}

#img-me {
	@include animation(fade-in-animation 1500ms 1);

	@media (max-width: $screen-xs-max) {
		// Phones see the photo centered
		width: 150px;
		height: 150px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}
}

.section-hook {

	h1 {
		margin-top: 0px;
		border-bottom: 1px solid $gray-light;
		padding-bottom: 10px;

		small {
			font-family: $signature-font-family;
			display: block;
		}
	}

	a {
		margin-top: 10px;
	}
}

#work {
	
	@media (max-width: $screen-xs-max) {
		.section-hook {
			text-align: center;
		}
	}
}

.gallery {
	margin-top: 10px; // Propper padding below the .section-hook

	@media (max-width: $screen-xs-max) {
		// Phones see less padding between gallery elements
		.col-xs-6-left {
			padding-right: 7px;
		}

		.col-xs-6-right {
			padding-left: 7px;
		}
	}

	.gallery-box {
		overflow: hidden;
		margin-bottom: 18px;

		figure {
			position: relative;
			background-color: black;

			img {
				margin-left: auto;
				margin-right: auto;
			}

			figcaption {
				position: absolute;
				height: 50px;
				right: 0;
				bottom: -50px;
				left: 0;
				@include transition-property(all); // don't use 'transform', see https://github.com/chriseppstein/compass/issues/289
	  			@include transition-duration(300ms);
				background-color: black;//rgba(0,0,0,0.6);
			    padding-top: 15px;
			    padding-left: 10px;
			    color: $gray-lighter;
			    font-weight: bold;
			}

			&:hover figcaption {
				@include translateY(-100%);
			}
		}
	}
}

// Used on the project detail pages
.gallery-project {

	.row {
		margin-bottom: 25px;
	}

	img {
		@extend .img-responsive;
	}

	@media (max-width: $screen-sm-max) {
		.section-hook h1 {
			margin-top: 25px;
		}
	}

	@media (min-width: $screen-md-min) {
		h1, h3 {
			margin-top: 0px;
		}
	}

	.bottom-finish {
		text-align: center;
	}
}

#skills {

	@media (max-width: $screen-sm-max) {
		h3 {
			text-align: center;
		}
	}

	@media (min-width: $screen-sm-min) {
		// more padding on big screens
		padding-top: 90px;
		padding-bottom: 100px;
	}

	.section-hook {
		text-align: center;
	}

	.section-skills-design {
		text-align: right;

		@media (max-width: $screen-sm-max) {
			// Small screens shouldn't be right aligned
			text-align: left;
		}
	}

	#circling-birds-div {
		text-align: center;
		margin-top: 20px;

		svg {
			width: 300px;
			height: 300px;
			
			path {
				fill: $color-light;
			}

			@media (max-width: $screen-sm-max) {
				width: 150px;
				height: 150px;
			}
		}
	}
}

#toolbox {
	padding-top: 25px;
	padding-bottom: 25px;

	.section-hook {
		text-align: center;

		h1 {
			border: none;
		}
	}

	@media (max-width: $screen-xs-max) {
		// Small screens don't see columns, they see sections
		.list-item {
			display: inline-block;
			margin-right: 10px;
		}
	}
}

#contact {
	text-align: center;

	.btn-contact {
		color: $font-color-heading;
		display: inline-block;
		@include transition-property(color);
		@include transition-duration(300ms);

		&:hover {
			text-decoration: none;
		}
	}

	#btn-blog:hover {
		color: #31dbff;
	}

	#btn-resume {
		display: inline-block;
		position: relative;
		height: 107px;
		width: 63px;

		a {
			position: relative;
			display: block;
			z-index: 2;
			height: 107px;
			padding-top: 82px;
		}

		#icon-document {
			position: absolute;
			display: block;
			z-index: 1;
			top: 38px;
			left: 16px;

			svg {
				height: 33px;
				width: 28px;
				fill: $font-color-heading;
				@include transition-property(fill);
				@include transition-duration(300ms);
			}
		}

		&:hover {

			a {
				color: #333;
			}

			#icon-document svg {
				fill: #333;
			}
		}
	}

	#btn-quora:hover {
		color: #a82400;
	}

	#btn-linkedin:hover {
		color: #1683bb;
	}
}

#footer {
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 25px;
	text-align: center;

	#feather-big svg {
		margin-bottom: 30px;
		width: 40px;
		height: 40px;

		#body {
			@include transition-property(fill);
			@include transition-duration(300ms);
		}

		&:hover {
			#body {
				fill: #333;
			}
		}
	}

	#copyright {
		font-size: $font-size-detail;
	}
}

.btn {
	border-radius: 0px;
	font-weight: bold;

	.btn-icon {
		display: inline-block;
	}
}

blockquote {
	
	color: $gray-light;
}

.photo-credit {
	@extend .text-right;
	font-style: italic;
	font-size: $font-size-detail;
	color: $font-color-detail;
}

.flex-video {
	position: relative;
	padding-top: 25px;
	padding-bottom: 67.5%;
	height: 0;
	margin-bottom: 16px;
	overflow: hidden;

	.widescreen { padding-bottom: 57.25%; }
	.vimeo { padding-top: 0; }

	iframe, object, embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
		padding-top: 0;
	}
}