@import "variables";
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import "header";

// Main styles

.section-custom {
	padding-top: 50px;
	padding-bottom: 50px;
}

.section-custom-light {
	@extend .section-custom;
}

.section-custom-dark {
	@extend .section-custom;
	background-color: $color-dark;
	color: $color-white;
}

#img-me {
	margin-top: 30px;
}

.section-hook {

	h1 {
		border-bottom: 1px solid $gray-light;
		padding-bottom: 10px;

		small {
			font-family: $signature-font-family;
			display: block;
		}
	}

	h4 {
		color: $gray;
	}

	a {
		margin-top: 10px;
	}
}

.gallery {
	margin-top: 10px; // Propper padding below the .section-hook

	.gallery-box {

		img {
			@extend .img-responsive;
			margin-bottom: 17px;
		}

		.img-overlay {
			position: relative;
		}

		.caption {
			visibility: hidden;
			position: absolute;
		    bottom: 0px;
		    width: 100%;
		    background-color: black;//rgba(0,0,0,0.6);
		    padding-top: 10px;
		    padding-left: 10px;
		    font-family: $font-family-sans-serif;
		    color: $gray-lighter;
		}
	}

	.gallery-box:hover .caption {
		visibility: visible;
	}
}

.gallery-project {

	.row {
		margin-bottom: 25px;
	}

	img {
		@extend .img-responsive;
	}

	h1, h2 {
		margin-top: 0px;
	}

	.bottom-finish {
		text-align: center;
	}
}

#skills {
	@media (min-width: $screen-md-min) {
		background: url('../images/brain.svg');
		background-size: 300px;
		background-repeat: no-repeat;
		background-position: center 200px;
	}

	.section-hook {
		text-align: center;
	}

	.section-skills-design {
		text-align: right;

		@media (max-width: $screen-sm-max) {
			// Small screens shouldn't be right aligned
			text-align: left;
		}
	}

	#svg-brain {
		path {
			fill: $gray-light;
		}
	}

	#header-ampersand {
		font-family: $signature-font-family;
		font-size: floor(($font-size-base * 7.4));
		color: $gray-light;
		text-align: center;
		margin-top: 100px;

		@media (max-width: $screen-sm-max) {
			// Small screens don't need as much to center
			margin-top: 25px;
		}
	}

	.quote {
		margin-top: 25px;
		margin-bottom: 25px;
		text-align: center;

		blockquote {
			border-left: none;
		}
	}

	#skills-list {

		.list-unstyled h4 {
			margin-top: 0px;
			margin-bottom: 0px;
		}
	}
}

#footer {
	margin-bottom: 0px;
	padding-top: 50px;
	color: $gray-light;
}

.btn {
	font-family: $font-family-sans-serif;
}

blockquote {
	font-family: $signature-font-family;
	color: $gray-light;
}