RewriteEngine On
RewriteRule ^projects/ar ar.php
RewriteRule ^projects/usability usability.php
RewriteRule ^projects/ringpack ringpack.php
RewriteRule ^media media.php
RewriteRule ^projects/androidj androidj.php
RewriteRule ^projects/vertigo vertigo.php
RewriteRule ^projects/kiteboard kiteboard.php
RewriteRule ^projects/surfboard surfboard.php
RewriteRule ^projects/india india.php
RewriteRule ^projects/avoice avoice.php